.testimonial-section-container{
    @include container;

    .testimonial-section{
        @include div-width;
        h3{
            text-align: center;
            color: $accent;
        }
        .testimonial-section-cards{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}